Solution/MatLand.API/obj
Solution/MatLand.API/bin
Solution/MatLand.Domain/bin
Solution/MatLand.Domain/obj/Debug
Solution/MatLand.Domain/obj
Solution/MatLand.Application/bin
Solution/MatLand.Application/obj
